<h2> Template: Basicos </h2>
<hr>

<div class="row">
    <div class="col">
        <form (ngSubmit)="guardar()" #FormularioBasico="ngForm" autocomplete="off">
            <!-- Campo de Producto -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label" >
                    Producto
                </label>
                <div class="col-sm-9">
                    <input
                        ngModel
                        name="producto"
                        type="text"
                        class="form-control"
                        placeholder="Nombre Del Producto"
                        required
                        minlength="3"
                    >
                    <span
                        class="form-text text-danger"
                        *ngIf="ValidarNombre()">
                        Debe ser de 3 Letras 
                    </span>
                </div>
            </div>
            <!-- Campo de Precio -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label" >
                    Precio
                </label>
                <div class="col-sm-9">
                    <input
                        ngModel
                        name="precio"
                        type="number"
                        class="form-control"
                        placeholder="Precio Del Producto"
                        required
                    >
                    <span
                        class="form-text text-danger"
                        *ngIf="ValidarPrecio()">
                        Debe ser un numero positivo
                </span>
                </div>
            </div>
            <!-- Campo de existencia -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label" >
                    Existencia
                </label>
                <div class="col-sm-9">
                    <input
                        ngModel
                        required
                        customMin
                        minimo="1"
                        name="existencia"
                        type="number"
                        class="form-control"
                        placeholder="Existencias Del Producto"
                    >
                </div>
            </div>
            <!-- Boton -->
            <div class="row">
                <div class="col">
                    <button type="submit" [disabled]="FormularioBasico.invalid" class="btn btn-primary float-end">
                        Guardar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col">
        <span> Valid </span>
        <pre> {{FormularioBasico.valid}} </pre>

        <span> Pristine </span>
        <pre> {{FormularioBasico.pristine}} </pre>

        <span> Touched </span>
        <pre> {{FormularioBasico.touched}} </pre>

        <span> Value </span>
        <pre> {{FormularioBasico.value | json}} </pre>
    </div>
</div>